.leaveReply{
    padding: 120px 384px;
}

.leaveReply_form{
    margin-top: 72px;
}

.row_block{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.row{
    width: 49%;
}

.website{
    margin-top: 22px;
}

.remember{
    display: flex;
    align-items: center;
}

.remember_label{
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #A0A8B3;
}

.btn{
    margin-top: 22px;
    float: right;
}


@media (max-width: 1024px) {
    .leaveReply{
        padding: 0px 200px 30px;
    }
}

@media (max-width: 768px) {
    .leaveReply{
        padding: 120px 384px;
    }
}

@media (max-width: 385px) {
    .leaveReply{
        padding: 120px 384px;
    }
    
}