.eventsHeading{
    
}

.eventsHeading_title_block{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventsHeading_title_block_ticket{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 80%;
}

.eventsHeading_title{
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    color: #FFFFF6;
}

.eventsHeading_subTitle{
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    color: #FFFFF6;
    margin-top: 32px;
}

.btn{
    margin-top: 32px;
}