.eventsHeading{
    
}

.eventsHeading_title_block{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventsHeading_title_block_ticket{
    position: absolute;
    top: 70%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 80%;
}

.eventsHeading_title{
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    color: #FFFFF6;
}

.eventsHeading_subTitle{
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    color: #FFFFF6;
    margin-top: 32px;
}

.btn{
    margin-top: 32px;
}

@media (max-width: 1024px) {
    .eventsHeading_title{
        font-weight: 700;
        font-size: 38px;
    }
    .eventsHeading_subTitle {
        font-size: 28px;
    }
    .eventsHeading_title_block{
        top: 70%;  
    }
    
}

@media (max-width: 768px) {
    .eventsHeading_title{
        font-weight: 600;
        font-size: 18px;
    }
    .eventsHeading_title_block{
        top: 70%;  
    }
    .eventsHeading_subTitle {
        font-size: 16px;
    }
    .btn{
        margin-top: 0px;
    }
    .eventsHeading_title_block_ticket{
        top: 55%;  
    }
    
}

@media (max-width: 500px) {
    .eventsHeading_title{
        font-weight: 600;
        font-size: 16px;
    }
    .eventsHeading_title_block{
        text-align: center;
        top: 70% !important;  
    }
    .eventsHeading_subTitle {
        font-size: 16px;
        margin-top: 0px;

    }
}