.body{
    padding: 120px 60px;

}

.content_card_info{
    border: solid 1px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    box-shadow: 2px 5000px 1px #fff inset !important;
    border-radius: 6px;
    
    padding-top: 18px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
}


.card_info_block_titles{
    display: flex;
    justify-content: space-between;
    padding-right: 72px;
    padding-left: 48px;
}

.right{
    display: flex;
    justify-content: space-between;
}

.title_price{
    margin-left: 180px;
    font-weight: 600;
    font-size: 20px;
    line-height: 152%;
    color: #121212;
}

.title_quantity{
    font-weight: 600;
    font-size: 20px;
    line-height: 152%;
    color: #121212;
}
.title_product{
    font-weight: 600;
    font-size: 20px;
    line-height: 152%;
    color: #121212;
}

.card_items{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    
}

.totals_block{
    display: flex;
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 48px;
    margin-top: 10px;
    align-items : flex-start;
}

.goHome{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img{
    margin-top: 7px;
}

.goHome_title{
    font-weight: 600;
    font-size: 20px;
    line-height: 152%;
    color: #121212;
    margin-left: 18px;
}

.total_block{
    border: solid 1px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    box-shadow: 2px 5000px 1px #fff inset !important;
    border-radius: 6px;
    padding: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 380px;
}

.subtotal_block{
    padding-top: 12px;
    padding-bottom: 12px;
    
}

.subtotal_block_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #121212;
}

.total_block_price{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #121212;
}

.vat_block{
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
    border-top: 1px solid #B8B8B8 ;
    border-bottom: 1px solid #B8B8B8 ;
}

.subtotal_block__{
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.return_coupon{
    padding: 32px;
}

.return{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.coupon{
    display: flex;
    align-items: center;
}

.person_img{
    margin-right: 32px;
}

.return_text{
    font-weight: 600;
    font-size: 20px;
    line-height: 152%;
    color: #121212;
}

.liner{
    background: linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
}

@media (max-width: 768px) {
    .return_text{
        font-size: 16px;
    }
    .subtotal_block_title{
        font-size: 16px;
    }
    
    .total_block_price{
        font-size: 16px;
    }
    .goHome_title{
        font-size: 16px;
    }

.title_price{
    font-size: 16px;
}

.title_quantity{
    font-size: 16px;
}
.title_product{
    font-size: 16px;
}
}