.news{
    padding-top: 56px;
    padding-bottom: 120px;
    background: linear-gradient(180deg, #FFFFFB 56.57%, rgba(225, 225, 225, 0) 109.92%);
}

.img{
    width: 76%;
    margin: 0 auto;
    border-radius: 6px;
    cursor: pointer;
    height: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
}

.img_text{
    font-size: 56px;
    color: #FFFFFB;
    width: 100%;
}

.imgTextDate {
    font-size: 28px;
    color: #FFFFFB;
    width: 100%;
}

.news_body{
    padding: 72px 188px 120px 188px;
}

.description{
    border: solid 1px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    box-shadow: 2px 1000px 1px #fff inset !important;
    padding: 32px;
    border-radius: 6px;
}

.description_text{
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #121212;
}

.action{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #121212;
    margin-bottom: 22px;

}

.answer_block{
    border: solid 1px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    box-shadow: 2px 1000px 1px #fff inset !important;
    padding: 32px;
    border-radius: 6px;
}

.answer{
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #121212;
    

}
.answers_block{
    margin-top: 32px;
}


@media (max-width: 1024px) {
    .news{
        padding-bottom: 40px;
    }
    .news_body{
        padding: 72px 188px 50px 188px;
    }
    .img_text{
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .news{
        padding-bottom: 20px;
    }
    .news_body{
        padding: 72px 40px 40px 40px;
    }
    .description_text{
        font-size: 16px;
    }
    
    .action{
        font-size: 16px;
    }
    .answer{
        font-size: 16px;
    }
    .img_text{
        font-size: 22px;
    }
}