.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    cursor: pointer;
}

.header_nav_login{
    display: flex;
    align-items: center;
}

.shopingCart{
    margin-right: 38px;
    cursor: pointer;
}

.header_login_reg{
    display: flex;
}

.header_login_reg div:not(:last-child){
    margin-right: 32px;
}

.login_btn{
    padding: 12px 41px !important;
}

.reg_btn{
    padding: 12px 32px !important;
}

.dialog_head{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog_close{
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}


.dialog_title{
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 73px;
    color: #121212;
    margin-bottom: 56px;
}


.dialog_content_pass{
    margin-top: 22px;
}

.dialog_label{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #B8B8B8;
    padding-left: 32px;
    margin-bottom: 12px;
}

.remember{
    display: flex;
    align-items: center;
}

.remember_label{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #B8B8B8;
}



.dialog_content_btn{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin-bottom: 32px;
    margin-top: 48px;
}

.forget_title{
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    background: linear-gradient(90deg, #623D90 2.3%, #9F0B00 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dialog_filds div:not(:first-child){
    margin-top: 22px;
}

.error{
    color: red;
    margin-top: 12px;
}

.userPageIcon{
    cursor: pointer;
}


.dropedMenu{
    padding-top: 10px ;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    position: absolute;
    z-index: 9999;
    width: 232px;
    top: 100px;
    right: 104px;
    border: 0.5px solid #B8B8B8; 
    border-radius: 6px;
}

.dropedMenu_item{
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 22px;
    padding-bottom: 22px;
}

.dropedMenu_item:not(:last-child){
    border-bottom: 0.5px solid #B8B8B8; 
}

.dropedMenu_item_title{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}

@media (max-width: 1200px) {
    .header_nav_login{  
        flex-wrap: wrap;
        justify-content: center;
    }
}