.unknow{
    padding: 120px 0px;
    background: #FAFAFA
}

.unknow_content{
    background: #FFFFFF;
    border: 0.5px solid #B8B8B8;
    border-radius: 6px;
    padding: 48px;
    width: 80%;
    margin: 0 auto;
}

.content_items{
    display: flex;
    align-items: center;
}

.content_items li:not(:last-child){
    margin-right: 46px;
}

.item{
    display: flex;
    align-items: center;
}

.icon{
    margin-right: 14px;
}

.item_title{
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    color: #121212;
}


@media (max-width: 1100px) {
    .unknow{
        padding: 40px 0px;
    }
    
    .content_items{
        flex-wrap: wrap;
    }

    .content_items li {
       width: 100%;
       margin-top: 10px;
    }
}
