.allNews {
}

.newsss{
    padding-top: 56px;
    padding-bottom: 120px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}





