.event{
    background: #FAFAFA;
    padding: 120px 60px 88px 60px;

}
.event_category{
    padding-left: 128px;
    display: flex;
    align-items: center;
}

.event_body{
    cursor: pointer;
}

.events{
    display: flex;
    flex-wrap: wrap;
    margin-top: 56px;
    justify-content: space-between;
}

.events::after{
    content: "";
    width: calc(50% - 21px);
    
}

.event_body{
    width: calc(25% - 32px);
    height: 267px;
}


.events .event_body{
    margin-bottom: 32px;
}

@media (max-width: 1024px) {
    .event{
        padding: 40px 60px 30px 60px;
    }
    .event_category{
        padding-left: 60px;
        flex-wrap: wrap;
        
    }
     .event_category button {
        margin-top: 10px;
    } 
    .event_body{
        width: 48%;
        height: 267px;
    }
    .events .event_body{
        margin-bottom: 16px;
    }
    
}

@media (max-width: 768px) {
    .event{
        padding: 10px 60px 20px 60px;
    }
    .event_category{
        padding-left: 0px;
        flex-wrap: wrap;
        
    }
     .event_category button {
        margin-top: 10px;
    } 
    .event_body{
        width: 65%;
        height: 150px;
        margin-top: 30px;
    }
    .events .event_body{
        margin-top: 90px;
    }
    .events{
        justify-content: center;
    }
    .event{
        padding-bottom: 90px;
    }
}


@media (max-width: 500px) {
    .events .event_body{
        margin-top: 0px;
    }
}
