.whoWeAre{
    padding: 120px 340px;
    background: #FAFAFA; 
}

.whoWeAre_content{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.whoWeAre_content_icons{
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .whoWeAre{
        padding: 20px 220px;
    }
    .whoWeAre_content {
        flex-direction: column;
    }
  
}

@media (max-width: 768px) {
    .whoWeAre_content {
        flex-direction: column;
    }
    .whoWeAre{
        padding: 10px 80px;
        background: #FAFAFA;
    }
  
}

@media (max-width: 486px) {
    .whoWeAre{
        padding: 10px 40px;
    }
}

