.keySpeakers{
    width: 80%;
    margin: 0 auto;
    padding: 120px 15px;
}

.speakers{
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn{
    display: flex;
    justify-content: center;
}

.speakersWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 1024px) {
    .keySpeakers{
        padding: 80px 15px;
        
    }
    .speakersWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
        .keySpeakers{
            padding: 15px 15px;
            width: 100%;
        }
        .speakersWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            margin-top: 50px;
        }
}
