.keySpeakers{
    width: 80%;
    margin: 0 auto;
    padding: 120px 15px;
}

.speakers{
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn{
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .keySpeakers{
        padding: 80px 15px;
}}

@media (max-width: 900px) {
        .keySpeakers{
            padding: 40px 15px;
}}
