.tickets{
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
}

.tickets_block{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.ticket_{
    width: 48%;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1024px) {
    .tickets{
        padding-top: 80px;
    }
    .tickets_block{
        margin-top: 80px;
        
    }
    .ticket_{
        width: 80%;
    }
    
}

@media (max-width: 768px) {
    .tickets{
        padding-top: 20px;
    }
    .tickets_block{
        margin-top: 40px;
        
    }
    .ticket_{
        width: 100%;
    }
}