.aboutUs{
    padding: 120px 15px;
    background: #FFFFFB;
}

.aboutUs_content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    gap: 10px;

}


@media (max-width: 1400px) {
    .aboutUs{
        padding: 100px 15px;
    }
  
}

@media (max-width: 1024px) {
    .aboutUs{
        padding: 10px 15px;
    }
    .aboutUs_content{
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .aboutUs{
        padding: 10px 15px;
    }
    .aboutUs_content{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }
}