.footer{
    padding-top: 120px;
    padding-bottom: 72px;
    background-color: #FFFFF6;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;

}

.keyNation{
    display: flex;
    flex-direction: column;
    width: 23%;
}


.keyNation_title{
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 32px;
}

.gradient{
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    background: linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.keyNation_subTitle{
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #121212;
}


.left_block{
    display: flex;
}

.officess{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 72px;
}





.prague_title{
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 32px;
}

.prague_titles p:not(:last-child){
    margin-bottom: 26px;
}

.subTitle{
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #121212;
}

.prague_phone{
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #121212;
}

.strong{
    font-weight: 700;
}

.us_office{
    margin-top: 72px;
}

.row{
    text-align: center;
    padding-top: 31px;
    padding-bottom: 31px;
    border-top: solid 2px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    box-shadow: 2px 1000px 1px #fff inset !important;
    
}

.row_title{
    font-weight: 500;
    font-size: 22px;
    line-height: 165%;
    color: #121212;
}

@media (max-width: 1024px) {
    .footer_content {
        width: 70%;
    }
}

@media (max-width: 798px) {
    .footer_content {
        display: flex;
        flex-direction: column;
    }
    .subTitle{
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #121212;
    }
    
    .prague_phone{
        font-weight: 500;
        font-size: 16px;
    }
    .prague_title{
        font-weight: 700;
        font-size: 18px;
    }
    .keyNation_title{
        font-weight: 700;
        font-size: 16px;
    }
    .gradient{
        font-weight: 700;
        font-size: 18px;
    }
    .keyNation{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .keyNation_subTitle {
        font-size: 16px;
    }
    
}