.sponsorshipPackages{
    padding: 120px 188px;
    background: linear-gradient(180deg, #FFFFFB 56.57%, rgba(225, 225, 225, 0) 109.92%);
}

.sponsorshipPackages_body{
    margin-top: 72px;
    display: flex;
}

.sponsorshipPackages_content{
    width: 65%;
}









