.card_item{
    display: flex;
    background: #FAFAFA;
    padding: 23px 32px;
    justify-content: space-between;
    margin-bottom: 12px;
}

.item_name_block{
    display: flex;
    width: 73%;
}

.item_name{
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    color: #121212;
    margin-left: 20px;
}

.item_right{
    display: flex;
    width: 25%;
}

.item_quantity_block{
    display: flex;
}

.remove{
    cursor: pointer;
}

.minus{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    box-shadow: 2px 5000px 1px #fff inset !important;
    border-radius: 6px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.count{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    box-shadow: 2px 5000px 1px #fff inset !important;
    border-radius: 6px;
    width: 38px;
    height: 38px;
    margin: 0 8px;
}

.plus{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    box-shadow: 2px 5000px 1px #fff inset !important;
    border-radius: 6px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.icon{
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    color: #121212;
    padding-bottom: 6px;
}

.countt{
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #121212;
}

.item_price_block{
    margin-left: 140px;
    padding-right: 12px;
}

.item_price{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #121212;
}