.heading{
    margin-top: 142px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.heading_content{
    width: 38%;
    display: flex;
    flex-direction: column;
}

.content_title{
    font-weight: 700;
    font-size: 68px;
    line-height: 120%;
    background: linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 32px;
    padding-bottom: 5px;
}

.content_subTitle{
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #121212;
    margin-bottom: 70px;
}

.heading_img{
    width: 60%;
}

@media (max-width: 1092px) {
    .heading {
        margin-top: 40px; 
        align-items: center;
        flex-direction: column;
    }
    .heading_content {
        align-items: center;
        width: auto;
        text-align: center;
    }
    .heading_img {
        margin-top: 20px;
    }
}