
.previousHeading_wrapper{
    position: relative;
}


.previousHeading_block{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 0;
}

.previousHeading_title{
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    color: #FFFFF6;
} 

.checkOut_block{
    background: #F0F0F0;
    border-radius: 6px;
    padding: 34px 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}

.checkOut_title{
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    background: linear-gradient(90.33deg, #623D90 2.4%, #9F0B00 99.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.checkOut_subTitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #121212;
    margin-top: 4px;
}

.checkOut_btn{
    margin-top: 62px;
}

@media (max-width: 1200px) {
    .previousHeading_title{
        font-size: 30px;
    } 
    .previousHeading_block{
        top: 70%;  
        left: 50%; 
        padding: 72px 0;
    }
    .checkOut_block{
        padding: 34px 80px;
        margin-top: 35px;
    }
    .checkOut_subTitle{
        font-size: 16px;
    }
}
@media (max-width: 1470px) {
    .previousHeading_title{
        font-size: 42px;
    } 
    .previousHeading_block{
        top: 50%;  
        left: 50%; 
        padding: 72px 0;
    }
    .checkOut_block{
        padding: 5px 10px;
        margin-top: 25px;
    }
}

@media (max-width: 970px) {
    .previousHeading_title{
        font-size: 26px;
    } 
    .previousHeading_block{
        top: 50%;  
        left: 50%; 
        padding: 72px 0;
    }
    .checkOut_block{
        padding: 5px 10px;
        margin-top: 25px;
    }
}
@media (max-width: 768px) {
    
    .previousHeading_title{
        display: none;
    }
    .previousHeading_block{
     display: flex;
     flex-direction: column;
    }
    .checkOut_block{
        padding: 5px 10px;
        margin-top: 100px;
    }
    .checkOut_title {
        font-size: 16px;
    }
    .checkOut_subTitle{
        font-size: 14px;
    }
    .checkOut_btn{
        margin-top: 15px;
    }
}