.content_body_item{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

.item_text{
    margin-left: 12px;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #999999;
}

.black{
    color: #121212;
}

@media (max-width: 900px) {
    .item_text{
        font-size: 18px;
    }
}
