.conectUsAnyQuestions{
    padding: 120px 30px;
}

.subTitle_block{
    width: 60%;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
}

.subTitle{
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #121212;
}

.form{
    width: 60%;
    margin: 0 auto;
    margin-top: 72px;
}

.form_content_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.dialog_content{
    width: 48%;
    margin-bottom: 17px;
}

.checkboxes{
    display: flex;
    justify-content: space-between;
}

.checkboxes_title_block{
    width: 48%;
}

.checkboxes_content{
    width: 48%;
}

.remember{
    display: flex;
    align-items: center;
}

.remember_label{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #121212;
}

.checkboxes_title{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #121212;     
}

.dialog_content_{
    margin-top: 22px;
}

.how_help{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #121212;  
    margin-top: 21px;
}

.btn{
    text-align: right;
    margin-top: 28px;
}

.error{
   
    color: rgb(136, 18, 18);
}

@media (max-width: 900px) {
    .conectUsAnyQuestions{
        padding-top: 10px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    .form{
        width: 100%;
    }
    .subTitle{
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .subTitle{
        font-size: 18px;
    }
}