.seamlessService{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #FFFFFB;
}

.seamlessService_content{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.content_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right_title_block{
    margin-bottom: 32px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    color: #121212;
}

.right_block{
    margin-top: 56px;
    width: 69%;
    padding: 13px 42px !important;
    border-radius: 34px !important;    
    font-size: 18px !important; 
    border: solid 1px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    box-shadow: 2px 1000px 1px #fff inset !important;
}

.right_block_title{
    background: linear-gradient(90deg, #623D90 2.3%, #9F0B00 64.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content_left{
    width: 50%;
    margin-top: 69px;
}

.left_title{
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #121212;
    margin-bottom: 48px;
}

.left_subTitle{
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    color: #121212;
    margin-bottom: 56px;
}


.left_btns{
    display: flex;
}

.play{
    margin-right: 32px;
}

@media (max-width: 1024px) {
    .seamlessService{
        padding-top: 40px;
        padding-bottom: 40px;
        background: #FFFFFB;
        align-items: center;
        flex-direction: column;
    }
    
   .seamlessService_content {
        flex-wrap: wrap;
        text-align: center;
   }
   .seamlessService_content{
    display: flex;
    width: 50%;
    margin: 0 auto;
}

   .content_right {
    width: 100%;
   }
   .content_left {
    width: 100%;
   }

   .left_title {
        font-size: 28px;
    }
    .left_subTitle{
        font-size: 20px;
    }
    .left_btns{
        justify-content: center;
    }
    .right_block{
        font-size: 14px !important; 
    }
}

@media (max-width: 768px) {
    .right_title_block {
        font-size: 18px;
    }
    .seamlessService_content {
        width: 80%;
    }
    .right_block {
        padding: 13px 16px !important;
    }
    .left_title {
        font-size: 16px;
    }
    .left_subTitle{
        font-size: 16px;
    }
}
